@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* Desktop Variables */
  --mainBackgroundColor: #f6f6f6;
  --cardBackgroundColor: #ebe9ea;
  --darkTextColor: #474747;
  --whiteTextColor: #f6f6f6;
  --darkTitleColor: #181818;
  --whiteTitleColor: #f6f6f6;
  --asideBackgroundColor: #181818;
  --footerBackgroundColor: #181818;

  --1titleFontize: 2rem;
  --2titleFontSize: 1.5rem;
  --1textFontSize: 1.125rem;
  --2textFontSize: 1rem;

  --1titleFontSizeCard: 1rem;
  --1priceFontsizeCard: 1.1rem;
  --textButtonCard: 1rem;

  /* Mobile Variables */
}

::selection {
  background-color: #181818;
  color: #fff;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--mainBackgroundColor);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  
  width: 95%;
  max-width: 1366px;
  margin: auto;
  background-color: var(--mainBackgroundColor);
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

header a {
  font-weight: 600;
  font-style: normal;
  color: var(--darkTitleColor);
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li > a {
  font-size: 1.4rem;
}

.headerMain {
  background-image: url('assets/images/jordanBackground.jpg');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
  background-size: cover;
  padding-top: 8.0625rem;
  padding-left: 5rem;
}

.headerMain h2 {
  color: var(--whiteTitleColor);
  font-size: var(--1titleFontize);
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
}

.headerMain p {
  color: var(--whiteTextColor);
  width: 480px;
  padding-bottom: 7.5625rem;
  font-size: var(--2textFontSize);
  font-weight: 600;
  font-style: normal;
  line-height: 2.2rem;
}

.productsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsContent h2 {
  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: var(--1titleFontize);
  margin-top: 3.625rem;
  padding: 1rem;
}

.productsContent p {
  color: var(--darkTextColor);
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: var(--1textFontSize);
}

.cardsContainer {
  width: 90%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 2.43rem 0.81rem;
  margin-top: 3.68rem;
  margin-bottom: 6.25rem;
}

.card {
  background-color: var(--cardBackgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .image img {
  width: 50%;
}

.card .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
}

.card .text p.jordanName {
  color: #000;
  font-size: var(--1titleFontSizeCard);
}

.card .text p.jordanPrice {
  color: rgb(10, 126, 0);
  font-size: var(--1priceFontsizeCard);
}

.card .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
}

.card .buttons a:hover {
  text-decoration: underline;
}

.card .buttons a.buy {
  background-color: var(--asideBackgroundColor);
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: normal;
  font-size: var(--textButtonCard);
  text-align: center;
}

.card .buttons a.addToCart {
  color: #000;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #000;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
}

footer {
  background-color: var(--footerBackgroundColor);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-style: normal;
  font-size: var(--2textFontSize);
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer ul li > a {
  color: #fff;
}

footer ul li > a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }

  .headerMain {
    background-image: url('assets/images/jordanBackground.jpg');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    padding-left: 1rem;
  }

  .headerMain p {
    width: 100%;
    padding-right: 0.8rem;
  }

  .productsContent p {
    margin: 0 1rem;
  }

  .cardsContainer {
    padding: 0;
  }
}
