@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --mainBackgroundColor: #f6f6f6;
  --cardBackgroundColor: #ebe9ea;
  --darkTextColor: #474747;
  --whiteTextColor: #f6f6f6;
  --darkTitleColor: #181818;
  --whiteTitleColor: #f6f6f6;
  --asideBackgroundColor: #181818;
  --footerBackgroundColor: #181818;

  --1textFontSize: 1em;
  --2textFontSize: 1.125em;
  --1titleFontSize: 2em;
  --2titleFontSize: 1.5em;
}

body {
  background-color: var(--mainBackgroundColor);
}

aside {
  background-color: var(--asideBackgroundColor);
  padding: 1rem;
}

aside p {
  color: var(--whiteTextColor);
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

header {
  background-color: var(--mainBackgroundColor);
  text-align: center;
  padding: 0.5rem;
  font-size: var(--1titleFontSize);
}

header h1 {
  font-weight: 600;
  font-style: normal;
}

header h1 > a {
  color: var(--darkTitleColor);
}

.headerMain {
  background-image: url('assets/images/jordanBackground.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8.0625rem;
}

.headerMain h2 {
  color: var(--whiteTitleColor);
  font-size: var(--1titleFontSize);
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
}

.headerMain p {
  color: var(--whiteTextColor);
  font-size: var(--2textFontSize);
  padding-bottom: 7.5625rem;
  width: 480px;
  font-weight: 600;
  font-style: normal;
}

.productsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsContent h2 {
  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: var(--1titleFontSize);
  padding: 1rem;
}

.productsContent p {
  color: var(--darkTextColor);
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: var(--2textFontSize);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2.43rem;
  grid-column-gap: 0.81rem;
  margin-top: 3.68rem;
  margin-bottom: 6.25rem;
}

.card {
  background-color: var(--cardBackgroundColor);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px var(--cardBackgroundColor);
  border: 1px solid rgba(0, 0, 0, 0.144);
}

.card .image img {
  width: 170px;
  height: 150px;
}

.card .text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
}

.card .text p.jordanName {
  color: #000;
}

.card .text p.jordanPrice {
  color: rgb(10, 126, 0);
}

.card .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
}

.card .buttons a:hover {
  text-decoration: underline;
}

.card .buttons a.buy {
  background-color: var(--asideBackgroundColor);
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
}

.card .buttons a.addToCart {
  color: #000;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #000;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
}

footer {
  background-color: var(--footerBackgroundColor);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-style: normal;
}